<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/font.css" />
    <link rel="stylesheet" type="text/css" href="/diary.css" />
    <script src="/bootstrap.min.js" defer></script>
  </head>
  <body>
    <div class="container-md homeWrapper">
      <div class="dotWrapper">
        <div class="container" id="container_wrap">
  <div th:replace="LogSignbtn::LogSignbtnFragment"></div>

           <div class="profileWrap">
         About me
         <div class="imageWrap">이미지 </div>
					
					<div th:replace="profile::profileContent"></div>
          </div>
          <div class="tab-content" id="nav-tabContent" style="overflow: auto;">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
              tabindex="0"
            >
         	<div th:replace="homeContent::HomeContent"></div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
              tabindex="0">
             <div th:replace="diaryContent::diaryContent"></div>
            </div><!-- 다이어리 -->
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
              tabindex="0"
            >
            <!--     <div th:replace="guestbookContent::GuestBookContent"></div> 방명록 
              <div th:replace="guestbook_list::VisitorContent"></div> -->
            </div>
           
          </div>

         
        </div> <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
              >
                홈
              </button>
              <button
                class="nav-link"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
              >
                다이어리
              </button>
              <button
                class="nav-link"
                id="nav-contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact"
                type="button"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
              >
                방명록
              </button>
        
              <div
                class="btn-group"
                role="group"
                aria-label="Basic outlined example"
              ></div>
            </div>
          </nav>
      </div>
    </div>
    
    <!-- 자바스크립트 -->
    <th:block layout:fragment="script"></th:block>
    
  </body>
</html>