<div th:fragment="profileContent">
	<div class="profileTextWrap">


		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<div>안녕하세요</div>
			<div>admin 계정입니다</div>
			<div>(●'◡'●)☆</div>
		</div>

		<div sec:authorize="hasRole('ROLE_HOMPIUSER')">
			<div>안녕하세요</div>
			<div>일반 계정입니다</div>
			<div>( •̀ ω •́ )y</div>
		</div>
		<div sec:authorize="isAnonymous()" aria-current="page">

			<div>안녕하세요</div>
			<div>기본으로 보여지는</div>
			<div>자기소개입니다</div>

		</div>

	</div>
</div>
<!--	
			


		 
	<div sec:authorize="isAuthenticated()">
		<span th:text="${username.profile}"></span>

		 -->



